.ui-widget {
	font-family:'Avenir';
	background: #f06868;
	border: none;
	border-radius: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
}

.ui-datepicker {
	padding: 0;
}

.ui-datepicker-header {
	border: none;
	background: transparent;
	font-weight: normal;
	font-size: 18px;
}

.ui-datepicker-header .ui-state-hover {
	background: transparent;
	border-color: transparent;
	cursor: pointer;
	border-radius: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
}

.ui-datepicker .ui-datepicker-title {
	margin-top: .4em;
	margin-bottom: .3em;
	color: #fff;
    font-size: 20px;
}

tr {
	height: 34px;
}

.ui-datepicker .ui-datepicker-prev-hover,
.ui-datepicker .ui-datepicker-next-hover,
.ui-datepicker .ui-datepicker-next,
.ui-datepicker .ui-datepicker-prev {
	top: .9em;
	border:none;
}

.ui-datepicker .ui-datepicker-prev-hover {
	left: 2px;
}

.ui-datepicker .ui-datepicker-next-hover {
	right: 2px;
}

.ui-datepicker .ui-datepicker-next span,
.ui-datepicker .ui-datepicker-prev span {
	background-position: -32px 0;
	margin-top: 0;
	top: 0;
	font-weight: normal;
}

.ui-datepicker .ui-datepicker-prev span {
	background-position: -96px 0;
}

.ui-datepicker table {
	margin: 0;
    background-color: #fff;
}

.ui-datepicker th {
	padding: 1em 0;
	color: #fff;
	font-size: 16px;
	font-weight: normal;
	border: none;
	border-top: 1px solid #fff;
    background-color: #f06868;
}

.ui-datepicker td {
	background: #fff;
	border: none;
	padding: 0;
}

td .ui-state-default {
	background: transparent;
	border: none;
	text-align: center;
	padding: .5em;
	margin: 0;
	font-weight: normal;
	color: #fff;
	font-size: 16px;
}

.ui-state-disabled  {
	opacity: 1;
}

.ui-state-disabled .ui-state-default {
	color: #666;
}

td .ui-state-active,
td .ui-state-hover {
	background: #666;
}
