html {
    margin: 0;
    padding: 0;
    background: #fff;
}

body {
    margin: 0;
    padding: 0;
    background: none;
}

img {
    position:absolute;
    top:0;
    display:none;
    width:100%;
    height:100%;
    z-index: -1;
}

.logo {
    width: 100px;
    height: 100px;
    background: url('../assets/BehindSenseLogo.png') no-repeat center;
    margin: 50px auto;
    -moz-transition: all 0.3s ease-out;  /* FF4+ */
    -o-transition: all 0.3s ease-out;  /* Opera 10.5+ */
    -webkit-transition: all 0.3s ease-out;  /* Saf3.2+, Chrome */
    -ms-transition: all 0.3s ease-out;  /* IE10 */
    transition: all 0.3s ease-out;
}

.banner {
    font-family: Avenir;
    font-weight: lighter;
    color: white;
    text-align: center;
}

.title {
    display: inline;
    font-size: 50px;
    font-family: Avenir;
    font-weight: lighter;
    color: white;
}

.title-highlighted {
    display: inline;
    font-size: 50px;
    font-family: Avenir;
    font-weight: bold;
    color: #f06868;
}

/**
 * Login form source: http://designscrazed.org/css-html-login-form-templates/
**/

.login-block {
    width: 320px;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    border-top: 5px solid #f06868;
    margin: 50px auto;
    overflow-y: scroll;
    -moz-transition: all 0.3s ease-out;  /* FF4+ */
    -o-transition: all 0.3s ease-out;  /* Opera 10.5+ */
    -webkit-transition: all 0.3s ease-out;  /* Saf3.2+, Chrome */
    -ms-transition: all 0.3s ease-out;  /* IE10 */
    transition: all 0.3s ease-out;
}

.login-block h1 {
    text-align: center;
    color: #000;
    font-size: 18px;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 20px;
    font-family: Avenir;
}

#wrong-password-label {
    font-family: 'Avenir';
    font-size: 15px;
    color: #f06868;
    text-align: center;
    margin-bottom: 20px;
    display: none;
    height: 25px;
    width: 100%;
}

.login-block input {
    width: 100%;
    height: 42px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    font-size: 14px;
    font-family: Avenir;
    padding: 0 20px 0 50px;
    outline: none;
}

.login-block input#username-input {
    background: #fff url('http://i.imgur.com/u0XmBmv.png') 20px top no-repeat;
    background-size: 16px 80px;
}

.login-block input#username-input:focus {
    background: #fff url('http://i.imgur.com/u0XmBmv.png') 20px bottom no-repeat;
    background-size: 16px 80px;
}

.login-block input#password-input {
    background: #fff url('http://i.imgur.com/Qf83FTt.png') 20px top no-repeat;
    background-size: 16px 80px;
}

.login-block input#password-input:focus {
    background: #fff url('http://i.imgur.com/Qf83FTt.png') 20px bottom no-repeat;
    background-size: 16px 80px;
}

.login-block input:active, .login-block input:focus {
    border: 1px solid #ff656c;
}

.login-block button {
    width: 100%;
    height: 40px;
    background: #f06868;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #e15960;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
    font-family: Avenir;
    outline: none;
    cursor: pointer;
}

#button-link {
    font-family: Avenir;
    color: #fff;
    font-weight: bold;
    text-decoration: none;
}

.login-block button:hover {
    background: #ff7b81;
}

.draft-selection-block {
    width: 320px;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    border-top: 5px solid #f06868;
    margin: 20px auto;
    display: none;
}

.draft-selection-block h1 {
    text-align: center;
    color: #666;
    font-size: 20px;
    font-weight: lighter;
    margin-top: 0;
    margin-bottom: 20px;
    font-family: Avenir;
}

.draft-selection-block button {
    width: 100%;
    height: 40px;
    background: #f06868;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #e15960;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
    font-family: 'Avenir';
    outline: none;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 10px;
}

.draft-selection-block button:hover {
    background: #ff7b81;
}

.article-list {
    min-width: 100%;
    max-width: 100vh;
    max-height: 70vh;
    align-items: flex-start;;
    align-self: center;
    margin-left: auto;
    margin-right: auto;
    display: none;
    overflow-x: hidden;
    overflow-y: scroll;
    padding: 20px;
    box-sizing: border-box;
    white-space: nowrap;
    background-color: #f06868;
}

#article-list-header {
    font-family: 'Avenir';
    font-size: 28px;
    font-weight: bolder;
    margin-top: 40px;
    margin-bottom: 40px;
    color: #fff;
    text-align: center;
    width: 100%;
}

.article-list-item {
    float: left;
    position: relative;
    font-family: 'Avenir';
    width: 300px;
    height: 200px;
    background-color: #fff;
    background: url('http://i.imgur.com/Eor57Ae.jpg') no-repeat center center;
    margin: 10px;
    display: inline-block;
    overflow: hidden;
}

.article-list-item:hover {
    cursor: pointer;
}

.article-list-item:active {
    opacity: 0.7;
}

#continue-draft-heading {
    text-align: center;
    font-family: 'Avenir';
    font-size: 30px;
    font-weight: lighter;
    color: white;
    display: none;
}

.dim-view {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: black; opacity: 0.6;
}

.article-list-item h2 {
    position: absolute;
    font-size: 19px;
    font-weight: bolder;
    color: #fff;
    margin: auto;
    bottom: 0;
    padding: 10px;
    line-height: 1.2;
    white-space: normal;
}

.article-list-item h3 {
    position: absolute;
    font-size: 16px;
    font-weight: lighter;
    font-style: italic;
    color: #fff;
    float: right;
    top: 0;
    right: 0;
    padding: 10px;
    margin: 0;
    white-space: normal;
}
