body,html {
    min-height:100%;
    background-color: #fff;
    position: relative;
    margin: 0px;
}

#title-area {
    height: 334px;
    width: 375px;
    position: relative;
    top: 0;
    left: 0;
}

#title-dim-view {
    height: 334px;
    width: 375px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #f06868;
    opacity: 0.6;
}

#title-image {
    height: 334px;
    width: 375px;
    position: absolute;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: center center;
}

#title {
    position: absolute;
    bottom: 0px;
    font-family: 'Avenir';
    font-size: 35px;
    color: #fff;
    margin: 18px;
    display: inline-block;
}
