body {
}

img {
    position: absolute;
    align-self: center;
    margin: auto;
    top: 0;
    left: 0;
    height:500px;
    z-index: -1;
}

#content-container {
    width: 70%;
    height: 70%;
    margin: auto;
    align-self: center;
    position: relative;
    top:0;
    width:100%;
    height:100%;
}

#preview-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 211px;
    height: 376px;
    background-color: green;
    opacity: 0.3;
    z-index: 1;
    margin-top: 62px;
    margin-left: 18px;

}

#article {
    position: absolute;
    margin-left: 100px;
    background-color: #546284;
    width: 50%;
}
