@import url(http://fonts.googleapis.com/css?family=Roboto:400,700);
/*+ß*/

body {
    width: 100%;
    height: 500px;
    margin-top: 0px;
    margin-left: 0px;
    margin-bottom: 0px;
    margin-right: 0px;
}

body h2 {
    font-family: 'Avenir';
    font-size: 20px;
}

body h4 {
    font-family: 'Avenir';
    font-weight: lighter;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: -10px;
}

.card-content {
    height: 100%;
}

#datepicker {
    color: #f06868;
    font-family: 'Avenir';
    padding-left: 20px;
    padding-bottom: 10px;
    font-size: 25px;
    margin-top: 30px;
}

input:not([type]), input[type=text], input[type=password], input[type=email], input[type=url], input[type=time], input[type=date], input[type=datetime-local], input[type=tel], input[type=number], input[type=search], textarea.materialize-textarea {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #9e9e9e;
    border-radius: 0;
    outline: none;
    height: 7rem;
    width: 100%;
    font-size: 1rem;
    margin: 0 0 15px 0;
    padding: 0;
    box-shadow: none;
    box-sizing: content-box;
    transition: all .7s;
}

.action-button {
    font-weight: bold;
    line-height: 35px;
    padding: 8px;
    font-family: 'Avenir';
    vertical-align: middle;
    width: 70%;
    border-radius: 5px;
    text-align: center;
}

.datepickerdemoBasicUsage {
  /** Demo styles for mdCalendar. */ }
  .datepickerdemoBasicUsage md-content {
    padding-bottom: 200px; }
  .datepickerdemoBasicUsage .validation-messages {
    font-size: 11px;
    color: darkred;
    margin: 10px 0 0 25px; }

#publish-button {
    margin: auto;
    color: white;
    font-size: 22px;
    font-weight: bolder;
}

#header-container {
    background: #f06868;
    top: 0px;
    width: 100%;
    height: 60px;
    text-align: left;
    padding-top: 5px;
    padding-left: 15px;
}

#header-container h2 {
    color: white;
}

#content-container {
    height: 360px;
}

.seperator {
    background-color: #DDD;
    height: 1px;
    width: 100%;
}

#footer-container {
    background: #aaa;
    bottom: 0px;
    width: 100%;
    height: 60px;
    text-align: center;
    margin: auto;
    padding-top: 12px;
}
