* {
    box-sizing: border-box;
}

body,html {
    min-height:100%;
    background-color: #F06868;
    position: relative;
}

/*from:https://codyhouse.co/gem/alternate-fixed-scroll-backgrounds/*/
.fixed-bg {
	min-height: 100%;
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center center;
}

/*from:https://codyhouse.co/gem/alternate-fixed-scroll-backgrounds/*/
.scrolling-bg {
	min-height: 100%;
}

.article-list {
    float: left;
    width: 250px;
    min-height: 100%;
    max-height: 100vh;
    background: #FF847F;
    align-items: center;
    display: none;
    overflow-y: scroll;
}

#article-list-close {
    font-size: 36px;
    margin-top: 40px;
    margin-left: 91px;
}

#article-list-close:hover {
    color: #f06868;
    background-color: #fff;
}

#article-list-compose {
    font-size: 36px;
    margin-top: 40px;
    margin-left: 91px;
}

#article-list-compose:hover {
    color: #f06868;
    background-color: #fff;
}

.article-list h3 {
    font-family: 'Avenir';
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bolder;
    text-align: center;
    color: #f06868;
}

#article-list-header {
    font-family: 'Avenir';
    font-size: 28px;
    font-weight: bolder;
    margin-top: 40px;
    margin-bottom: 40px;
    color: #fff;
    text-align: center;
}

.article-list-item {
    position: relative;
    font-family: 'Avenir';
    width: 230px;
    height: 130px;
    background-color: #fff;
    background: url('http://i.imgur.com/Eor57Ae.jpg') no-repeat center center;
    margin: 10px;
    background-size: cover;
}

.article-list-item:hover {
    cursor: pointer;
}

.article-list-item:active {
    opacity: 0.7;
}

.dim-view {
    height: 130px;
    width: 230px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: black; opacity: 0.6;
}

.article-list-item h2 {
    position: absolute;
    font-size: 19px;
    font-weight: bolder;
    color: #fff;
    margin: auto;
    bottom: 0;
    padding: 10px;
    line-height: 1.2;
}

.article-list-item h3 {
    position: absolute;
    font-size: 14px;
    font-weight: lighter;
    font-style: italic;
    color: #fff;
    float: right;
    top: 0;
    right: 0;
    padding: 10px;
    margin: 0;
}

#file-input {
    opacity: 0;
    height: 0px;
}

#title-element {
    font-size: 2.5em;
    width: 100%;
}

#image-text-area {
    width: 70%;
    max-width: 800px;
    position: relative;
    text-align: center;
    background-color: white;
    overflow-y: auto;
    overflow-x:hidden;
    margin:auto;
}

#image-text-area::-webkit-scrollbar {
    display: none;
}

#title-image-upload-container {
    float: right;
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
}

#file-input-title-image {
    width: 0px;
    overflow: hidden;
    display: none;
}

#preview-close {
    font-size: 36px;
    margin-top: 40px;
    margin-left: 91px;
}

#preview-close:hover {
    color: #fff;
    background-color: #FF847F;
}

.title-dim-view {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: black; opacity: 0.4;
}

#text-editor {
    font-family: Avenir;
    font-size: 18px;
    bottom:0;
    height:80vh;
    padding: 5%;
    line-height: 1.7;
}

#text-editor img {
    z-index: 0;
}

img {
    width: 100%;
    overflow: hidden;
}

#text-editor:read-write:focus {
     outline: none;
}

.text-editor[placeholder]:empty:before {
    content: attr(placeholder);
    color: #555;
}

#picture {
    height: 60%;
    width: 60%;
}

#picture-area {
    background: url('http://i.imgur.com/Eor57Ae.jpg');
    background-color: #666;
    background-size: cover;
    opacity:1;
    position:relative;
    padding: 20px;
    border-bottom: solid;
    border-bottom-color: #F06868;
    border-bottom-width: 20px;
    border-top: solid;
    border-top-color: #F06868;
    border-top-width: 20px;
    object-fit: cover;
}

#title-position {
    position:absolute;
    bottom: 0px;
}

#menu-container {
    display: flex;
    align-items:center;
    background: #FF847F;
    text-align: center;
    position:fixed;
    top:0;
    bottom:0;
    right:0;
}

.picture-area-title {
    color:white;
    opacity: 1;
    height: 50%;
}

.picture-area-title[placeholder]:empty:before {
    content: attr(placeholder);
    color: #fff;
}

.icon-list {
    list-style-type: none;
    margin-bottom: 50px;
    margin-top:50px;
    text-align: center;
    padding-left: 12px;
}

.icon-list li{
    display: inline-block;
    margin-top: 15px;
    margin: 20 auto;
}

.material-icons {
    color:white;
    border-radius:50%;
    padding:10px;
    background-color: #f06868;
}

.material-icons:hover {
    background-color: white;
    color:#F06868;
    cursor:pointer;
}

.formatter-icon-container {
    position: relative;
    width: 40px;
    height: 40px;
    border-radius:50%;
    background-color: #F06868;
    margin: 0;
}

.formatter-icon-container:hover {
    background-color: white;
    cursor:pointer;
}

.media-icon-container {
    position: relative;
    width: 60px;
    height: 60px;
    border-radius:50%;
    background-color: #F06868;
    margin: 0;
}

.media-icon-container:hover {
    cursor: pointer;
}

.hidden-formatter-clicktarget {
    position: absolute;;
    width: 40px;
    height: 40px;
    border-radius:50%;
    z-index: 2;
    left: 0;
    top: 0;
    opacity: 0;
}

.hidden-media-clicktarget {
    position: absolute;;
    width: 65px;
    height: 65px;
    border-radius:50%;
    z-index: 2;
    left: 0;
    top: 0;
    opacity: 0;
}

.hidden-media-clicktarget:hover {
    cursor: pointer;
}

.media-icon {
    font-size: 36px;
}

.formatter-icon-size {
    font-size: 18px;
}

.formatter-icon {
    font-size: 18px;
    z-index: 1;
    left: 0;
    top: 0;
    width: 40px;
    height: 40px;
}

.formatter-icon:hover {
    font-size: 18px;
    z-index: 1;
    left: 0;
    top: 0;
    width: 40px;
    height: 40px;
    background-color: white;
    color: #f06868;
}

.text-level {
    color: white;
    font-weight: bold;
    background-color: #F06868;
    border-radius: 50%;
    padding-left: 13px;
    padding-right: 13px;
    padding-top: 9px;
    padding-bottom: 9px;
    margin-top: 10px;
}

.text-level:hover {
    background-color: white;
    color:#F06868;
    cursor:pointer;
}

.text-level-button {
    padding-left: 12px;
}

.text-level-button li{
    list-style-type: none;
    margin-top: 28px;
    margin-bottom: 28px;
}

.side-panel-bottom-buttons ul.bottom-button-list {
    color:white;
    font-weight: bold;
    cursor:pointer;
    background:invisible;
    position:absolute;
    bottom:0;
    right:0;
    margin-right: 25px;
    margin-bottom: 15px;
    line-height: 35px;
}

.bottom-button-list {
    list-style-type: none;
}

#menu-formatter-panel {
    width: 60px;
    align-items: center;
}

#verticalline {
    border-right: solid #F06868;
    padding-right: 0px;
    width: 10px;
    height: 100%;
}

#menu-media-panel {
    width: 120px;
    align-items: center;
}

#media-panel-top {
    top: 20px;
    margin-left: 20px;
    position: fixed;
}

#media-panel-bottom {
    bottom: 20px;
    position: fixed;
}

.action-button {
    color: white;
    font-weight: bold;
    line-height: 35px;
    padding: 8px;
}

.action-button:hover {
    background: white;
    color:#FF847F;
    border-radius: 5px;
    padding: 8px;
    cursor: pointer;
}

@media only screen and (max-height: 880px) {
    #menu-formatter-panel {
        width: 100px;
    }
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {
    width: 100%;
    padding-right: 180px;
}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
